*{
    box-sizing: border-box;
}
.heading{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: 70px;
    left: 90px;
    line-height: 1.1;
}
.content{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding-right: 90vh;
    text-align: justify;
    margin-left: 90px;
    margin-top: 60px;
    line-height: 1.5;
}
.image1{
    height: 50px;
    position: relative;
    top: 60px;
    left: 60px;
}
.image2{
    height: 300px;
    transform: scaleX(-1);
    position: relative;
    bottom: 50vh;
    left: 800px;
}
.share{
    font-size: 25px;
    margin-left: 90px;
    position: relative;
    bottom: 50vh;
}
